# Bytecode de Python
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
env/

# Archivos de configuración sensible
*.secret

# Node modules y archivos de log
node_modules/
npm-debug.log
yarn-error.log

# Entorno Vue
.env
.env.production

# IDEs y editores
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Directorios de salida de build
/dist/
/build/
